.sidebar-nav{background:#fff;}
.sidebar-nav>ul{padding:0px 30px 50px}
.sidebar-nav ul{margin:0px}
.sidebar-nav ul li{list-style:none}
.sidebar-nav ul li a{color:#54667a;padding:14px 35px 14px 15px;display:block;font-size:20px;}
.sidebar-nav ul li a.active,.sidebar-nav ul li a:hover{color:#db0c34}
.sidebar-nav ul li a.active{font-weight:400;color:#263238}
.sidebar-nav ul li ul{padding-left:30px}
.sidebar-nav ul li ul li a{padding:10px 35px 10px 15px}
.sidebar-nav ul li ul ul{padding-left:20px}
.sidebar-nav ul li.nav-small-cap{font-size:12px;padding:14px 14px 14px 20px;color:#90a4ae;font-weight:500}
.sidebar-nav ul li.nav-devider{height:1px;background:rgba(120, 130, 140, 0.13);display:block;margin:20px 0}
.sidebar-nav>ul>li.active>a{border-left:3px solid #db0c34;color:#db0c34}
.sidebar-nav>ul>li.active>a i{color:#db0c34}
.sidebar-nav>ul>li>a{border-left:3px solid #fff}
.sidebar-nav>ul>li>a.active,.sidebar-nav>ul>li>a:hover{border-left:3px solid #db0c34}
.sidebar-nav>ul>li>a.active i,.sidebar-nav>ul>li>a:hover i{color:#db0c34}
.sidebar-nav>ul>li>a i{width:27px;font-size:21px;display:inline-block;vertical-align:middle;color:#a6b7bf}
.sidebar-nav>ul>li>a .label{float:right;margin-top:6px}
.sidebar-nav>ul>li>a.active{font-weight:400;background:#242933;color:#db0c34}
.sidebar-nav .has-arrow{position:relative}
.sidebar-nav .has-arrow:after{position:absolute;content:'';width:.4em;height:.4em;border-width:1px 0 0 1px;border-style:solid;border-color:#54667a;right:1em;-webkit-transform:rotate(-45deg) translate(0, -50%);-ms-transform:rotate(-45deg) translate(0, -50%);-o-transform:rotate(-45deg) translate(0, -50%);transform:rotate(-45deg) translate(0, -50%);-webkit-transform-origin:top;-ms-transform-origin:top;-o-transform-origin:top;transform-origin:top;top:50%;-webkit-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}

.top {
  height: 7em;
  padding: 2em;
}

.bottom {
  height: 6em;
  padding: 2em;
}

.demo-1 .bottom {
  position: relative;
}

.demo-1 img {
  position: absolute;
  left: 30px;
  top: -50px;
}

.demo-1 .bottom a.following {
  position: absolute;
  left: 35px;
  top: 65px;
  font-weight: bold;
  font-size: 14px;
}

.demo-1 .bottom a.followers {
  position: absolute;
  left: 150px;
  top: 65px;
  font-weight: bold;
  font-size: 14px;
}

.demo-1 .bottom p.bio {
  position: absolute;
  left: 140px;
  top: 10px;
  color: black;
}

.demo-1 .bottom button.btn-right-profile {
  position: absolute;
  right: 35px;
}

.demo-1 .bottom div.btn-right-profile {
  position: absolute;
  right: 135px;
}

div.unfollow-following {
  position: absolute;
  left: 585px;
}

.fix-sidebar .left-sidebar{position:fixed}
.card-no-border .card{border:0px}
.card-no-border .sidebar-footer{background:#ffffff}
.card-no-border .page-wrapper{background:#f2f7f8}
.card-no-border .left-sidebar{-webkit-box-shadow:1px 0px 20px rgba(0, 0, 0, 0.08);box-shadow:1px 0px 20px rgba(0, 0, 0, 0.08)}
.card-no-border .shadow-none{-webkit-box-shadow:none;box-shadow:none}
.card-outline-danger,.card-outline-info,.card-outline-primary,.card-outline-success,.card-outline-warning{background:#ffffff}
.card-no-border .card-group .card{border:1px solid rgba(120, 130, 140, 0.13)}

.single-column .left-sidebar{display:none}
.left-sidebar{position:absolute;width:325px;height:100%;top:0px;z-index:20;padding-top:12px;background:#fff}
@media (max-width:767px){.mini-sidebar .left-sidebar{position:fixed}.mini-sidebar .left-sidebar,.mini-sidebar .sidebar-footer{left:-240px}.mini-sidebar.show-sidebar .left-sidebar,.mini-sidebar.show-sidebar .sidebar-footer{left:0px}}
.mini-sidebar .left-sidebar{width:60px}

.sidebar-nav .active>.has-arrow:after,
.sidebar-nav 
.has-arrow[aria-expanded=true]:after,
.sidebar-nav li>.has-arrow.active:after
{-webkit-transform:rotate(-135deg) translate(0, -50%);-ms-transform:rotate(-135deg) translate(0, -50%);-o-transform:rotate(-135deg) translate(0, -50%);transform:rotate(-135deg) translate(0, -50%)}
@media (min-width:768px){
    .mini-sidebar .sidebar-nav 
    #sidebarnav li{position:relative}
    .mini-sidebar .sidebar-nav 
    #sidebarnav>li>ul{position:absolute;left:60px;top:59px;width:200px;z-index:1001;background:#e8eff0;display:none;padding-left:1px}.mini-sidebar .sidebar-nav #sidebarnav>li:hover>ul{height:auto!important;overflow:auto}.mini-sidebar .sidebar-nav #sidebarnav>li:hover>ul,.mini-sidebar .sidebar-nav #sidebarnav>li:hover>ul.collapse{display:block}.mini-sidebar .sidebar-nav #sidebarnav>li>a.has-arrow:after{display:none}.mini-sidebar .left-sidebar{width:60px}.mini-sidebar .user-profile{padding-bottom:30px;width:60px}.mini-sidebar .scroll-sidebar{padding-bottom:0px;position:absolute}.mini-sidebar .hide-menu,.mini-sidebar .nav-small-cap,.mini-sidebar .sidebar-footer,.mini-sidebar .user-profile .profile-text{display:none}.mini-sidebar .nav-devider{width:60px}.mini-sidebar .sidebar-nav{background:transparent}.mini-sidebar .sidebar-nav #sidebarnav>li>a{padding:14px 15px;width:60px}.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a{width:260px;background:#009efb;color:#ffffff;border-color:#009efb}.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a i{color:#ffffff}.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a .hide-menu{display:inline}.mini-sidebar .sidebar-nav #sidebarnav>li.active>a{border-color:transparent}.mini-sidebar .sidebar-nav #sidebarnav>li.active>a.active{border-color:#009efb}}

boxed #main-wrapper .sidebar-footer{position:absolute;}
.sidebar-footer{position:fixed;bottom:0px;left:0px;-webkit-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out;width:325px;background:#ffffff;border-top:1px solid rgba(120, 130, 140, 0.13)}
.sidebar-footer a{padding:15px;width:33.333337%;float:left;text-align:center;font-size:18px}

.single-column .page-wrapper{margin-left:0px;margin-right:0px;}
.page-wrapper{background:#fff;padding-bottom:60px;height:100% !important;}
@media (max-width:1370px){.widget-app-columns{-webkit-column-count:2;column-count:2}}@media (min-width:1024px){.page-wrapper{margin-left:325px; height:100% !important;}.footer{left:240px}}@media (max-width:1023px){.page-wrapper{margin-left:60px;-webkit-transition:0.2s ease-in;-o-transition:0.2s ease-in;transition:0.2s ease-in}.footer{left:60px}.widget-app-columns{-webkit-column-count:1;column-count:1}.inbox-center a{width:200px}}@media (min-width:768px){.navbar-header{width:240px;-ms-flex-negative:0;flex-shrink:0}.navbar-header .navbar-brand{padding-top:0px}.material-icon-list-demo .icons div{width:33%;display:inline-block;line-height:26px}.mini-sidebar .page-wrapper{margin-left:60px}.mini-sidebar .footer{left:60px}.flex-wrap{-ms-flex-wrap:no-wrap!important;flex-wrap:no-wrap!important;-webkit-flex-wrap:no-wrap!important}}
.mini-sidebar .page-wrapper{margin-left:0px;padding-top:70px;margin-right:0px; height:100% !important;}
/* .container-fluid{padding:25px 30px;height:100%;} */

.right-sidebar{position:absolute;right:-325px;width:325px;display:none;z-index:1100;background:#ffffff;top:0px;padding-bottom:20px;height:100%;-webkit-box-shadow:5px 1px 40px rgba(0, 0, 0, 0.1);box-shadow:5px 1px 40px rgba(0, 0, 0, 0.1);-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease}.right-sidebar .rpanel-title{display:block;padding:24px 20px;color:#ffffff;text-transform:uppercase;font-size:15px;background:#009efb}.right-sidebar .rpanel-title span{float:right;cursor:pointer;font-size:11px}.right-sidebar .rpanel-title span:hover{color:#ffffff}.right-sidebar .r-panel-body{padding:20px}.right-sidebar .r-panel-body ul{margin:0px;padding:0px}.right-sidebar .r-panel-body ul li{list-style:none;padding:5px 0}
.shw-rside{right:0px;width:325px;display:block}